# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
.turbo

# Env files — JANGAN pernah commit file ini
.env
.env.local
.env.*.local
.env.production

# Supabase local
supabase/.temp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Sentry
.sentryclirc
